body{
    width: 100%;
    overflow-x: hidden;
}

header,footer{
    width: 50%;
    height: 100px;
    margin: auto;
    min-width: 1024px;
}

h1{
    float: left;
    padding-top: 25px;
    padding-left: 20px;
    font-size: 3em;  
}

nav{
    float: right;
    padding-top: 25px;
    padding-left: 20px;
    margin-top: 20px;
}

nav ul li{
    display: inline;
    margin-right: 20px;
    padding: 5px;
    border-radius: 3px;
}

#mainContent{
    display: table;
    width: 50%;
    margin: auto;
    min-width: 1024px;
    padding: 20px;
}

h2{
    display: block;
    text-align: center;
    margin: 10px;
    padding-bottom: 5px;
    font-size: 2.0em;
}

.errorBox{
    text-align:center;
    font-size: 0.8em;
}

.messageBox{
    font-size: 1.5em;
}

footer a{
    text-decoration: none;
}

footer{
    height : 50px;
    text-align: center;
    padding-top: 20px;
}

/* index.css */
input{
    display: block;
    width: 300px;
    margin: 20px auto;
}

input[type="submit"]{
    width: 150px;
}

form{
    text-align: center;
}

form a{
    padding: 5px;
}

/* dashboard.css */
#container{
    display: table;
    width: 50%;
    margin: auto;
}

.leftColumn,.rightColumn{
    text-align: center;
    display: table-cell;
    width: 40%;
}

.totalAmount{
    padding: 10px;
    margin: 10px;
}

.amount{
    display: block;
    font-size: 3em;    
}

.expenseShareList li{
    padding: 10px;
    margin: 10px;
}

/* About Us */
#container img{
    float: left;
    margin-right: 8px;
}

h4{
    font-size: 1.2em;
    text-align: left;
}

.leftColumn p.about,.rightColumn p.about{
    font-size: 0.9em;
    padding: 10px 20px 0px 0px;
    text-align: justify;
    word-spacing: 1px;
}

/* All expenses */
table{
    width: 100%;
}


