<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="false" version="3.0">
  <display-name>Expenser</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Displays login page</description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.expenser.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Handle users authentication</description>
    <display-name>UserAuthentication</display-name>
    <servlet-name>UserAuthentication</servlet-name>
    <servlet-class>com.expenser.UserAuthentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthentication</servlet-name>
    <url-pattern>/authenticate.htm</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.expenser.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/home.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Display user's dashboard</description>
    <display-name>DashboardController</display-name>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>com.expenser.DashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardController</servlet-name>
    <url-pattern>/dashboard.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.expenser.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/register.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.expenser.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExpense</display-name>
    <servlet-name>AddExpenseController</servlet-name>
    <servlet-class>com.expenser.AddExpenseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExpenseController</servlet-name>
    <url-pattern>/addexpense.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllExpensesController</display-name>
    <servlet-name>AllExpensesController</servlet-name>
    <servlet-class>com.expenser.AllExpensesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllExpensesController</servlet-name>
    <url-pattern>/allexpenses.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingsController</display-name>
    <servlet-name>SettingsController</servlet-name>
    <servlet-class>com.expenser.SettingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingsController</servlet-name>
    <url-pattern>/settings.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileController</display-name>
    <servlet-name>EditProfileController</servlet-name>
    <servlet-class>com.expenser.EditProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileController</servlet-name>
    <url-pattern>/editprofile.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordController</display-name>
    <servlet-name>ChangePasswordController</servlet-name>
    <servlet-class>com.expenser.ChangePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordController</servlet-name>
    <url-pattern>/changepassword.htm</url-pattern>
  </servlet-mapping>
</web-app>